.carousel-item {
  padding: 10px 10px 10px 10px;
  max-width: 1000px;
}
.carousel-indicators {
  bottom: -50px;
}
.carousel-inner {
  margin-bottom: 50px;
}
.carousel-indicators [data-bs-target] {
  border-radius: 50%;
  width: 15px;
  height: 15px;
  background-color: #f5f5f5;
}
.btn-purchase {
  color: #ffffff;
  background-color: #ff3300;
  border-color: #ff3300;
}
.btn-viewing {
  color: #000000;
  background-color: #ffffff;
  border-color: #ff3300;
  margin-right: 10px;
}
.btn-contact {
  color: #ffffff;
  background-color: #ff3300;
  border-color: #ff3300;
}
.btn-primary:hover {
  color: #ffffff;
  background-color: #ff3300;
  border-color: #ff3300;
}
.boatPrice {
  color: #ff3300;
  margin-bottom: 10px;
  padding: 10px 10px 10px 10px;
}
.boatDesc {
  color: #ff3300;
  padding: 10px 10px 10px 10px;
}
.boatName {
  margin-bottom: 20px;
  padding: 10px 10px 10px 10px;
}
.boatNavBar {
  border-bottom: 5px groove;
}
.boatDescription {
  padding: 10px 10px 10px 10px;
}
.success{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 80vh;
    text-align: center;
    
}
.success p{
    margin-top: 20px;
}

.success-card{
    background-color: #fff; /* Change to your preferred color */
    padding: 20px;
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.685); /* Box shadow */
    width: 70%; /* Adjust as necessary */
    max-width: 500px; /* Maximum width */
    margin: auto; /* Center the card */
}