.card-list {
    display: flex;
    flex-wrap: wrap;
  }
  
  .card {
    background-color: #f5f5f5;
    width: 45%;
    margin: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0px 2px 2px #ccc;
  }
  
  .card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  
  .card-body {
    padding: 10px;
  }