.dashboard {
  display: flex;
  background-color: rgba(255, 255, 240, 0.453);
  padding-top: 52px;
  box-sizing: border-box;
}

/* Top Bar */
.top-bar {
  display: flex;
  align-items: left;
  padding: 10px;
  color: black;
  position: absolute;
  top: 2;
  left: 0;
  width: 100%;
}

.low-bar {
  text-align: right;
  margin-top: 50px;
}

.homecard_div {
  margin-top: 90px;
}

.user-welcome {
  font-size: 40px;
  font-weight: bold;
  text-align: left;
  margin-left: 200px;
  font-family: 'Work Sans', sans-serif;
}

.user-info {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: 40px;
}

.user-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

/* Sidebar */
.sidebar {
  width: 125px;
  background-color: #ee3b33;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 50px;
  margin-top: 5px;
  margin-bottom: 5px;
  height: 100%;
  position: relative;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.sidebar-content {
  top: calc(50% - 100px);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 300px;
}

.main-page {
  flex-grow: 1;
  padding: 20px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: black;
}

.sidebar-logo {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  color: white;
  font-size: 50px;
  font-family: 'Playfair Display', serif;
}

.icon-container {
  display: flex;
  justify-content: center;
  padding: 50px;
}

.sidebar .sidebar-icons > * {
  cursor: pointer;
}

.sidebar hr {
  width: 125px;
  border: none;
  border-top: 1px solid white;
  margin: 0;
}

.icon-container:hover {
  background-color: #fab5a09d;
}

.icon {
  color: white;
  font-size: 25px;
}

/* Upload Page */

.upload-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 0 auto;
  padding-left: 50px;
  padding-right: 50px;
}

.upload-form label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.upload-form input,
.upload-form textarea {
  padding: 10px;
  padding-left: 50px;
  padding-right: 50px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.upload-form textarea {
  resize: vertical;
  min-height: 100px;
}

.upload-form button {
  padding: 10px 20px;
  background-color: #ee3b33;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.upload-form button:hover {
  background-color: #fab5a09d;
}

/* Manage */

.manage {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.manage-card {
  background-color: #fff;; 
  border: 1px solid #e3e3e3;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width: 300px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 300px;
}

.manage-text {
  margin: 0;
  height: 250px;
  overflow: hidden;
}

.manage-text p {
  margin: 0 0 10px;
}

.manage-text p:last-child {
  margin-bottom: 0;
}

.card-buttons {
  display: flex;
  justify-content: space-between;
}

.card-buttons button {
  background-color: #ee3b33;
  border: none;
  border-radius: 3px;
  color: white;
  cursor: pointer;
  font-size: 16px;
  padding: 8px 16px;
  text-transform: uppercase;
  width: 48%;
}

.card-buttons button:hover {
  background-color: #fab5a09d;
}

.edited-card {
  background-color: #f8f8f8;
  border: 1px solid #e3e3e3;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  height: 300px;
  width: 300px;
  padding: 20px;
}

.edited-card input {
  border: 1px solid #e3e3e3;
  border-radius: 3px;
  font-size: 16px;
  padding: 8px;
  width: 100%;
  margin-bottom: 10px;
  text-align: center;
}

.edited-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.edited-card button {
  background-color: #ee3b33;
  border: none;
  border-radius: 3px;
  color: white;
  cursor: pointer;
  font-size: 16px;
  padding: 8px 16px;
  text-transform: uppercase;
  width: 48%;
}

.card-buttons button:hover {
  background-color: #fab5a09d;
}

/* Home Page */

.grid-container {
  display: flex;
  align-items: flex-start;
  margin-top: 70px;
  margin-bottom: 100px;
}

.large-card-container {
  margin-right: 20px;
}

.card {
  background-color: #fff;; /*changed css from red to light grey */
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 1px;
  padding: 15px;
  margin-bottom: 20px;
}

.card-white {
  background-color: #f0f0f0;
}

.card-large {
  background-color: #f0f0f0;
  width: 400px;
  height: 400px;
  margin-right: 20px;
}

.small-cards-container {
  display: flex;
  flex-direction: column;
}
.card h2 {
  margin: 0;
  margin-bottom: 5px;
}

.card p {
  margin: 0;
  /* line-height: 2; */
}

.content-wrapper {
  position: relative;
}

.home-icon {
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  top: 50%;
  transform: translateY(-50%) scale(2); /* Add this line */
  color: white;
}

.icon-black {
  color: black;
}

.small-cards-container .card {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 120px;
}

.small-cards-container .card div {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}

.small-card-text {
  width: 200px;
  margin-left: 20px;
}

/* Account */

.account {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.account-card {
  background-color: #f8f8f8;
  border: 1px solid #e3e3e3;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width: 300px;
  padding: 20px;
}

.account-card h2 {
  font-size: 24px;
  margin: 0 0 10px;
}

.account-card p {
  font-size: 16px;
}
.account-card-buttons button {
  background-color: #ee3b33;
  border: none;
  border-radius: 3px;
  color: white;
  cursor: pointer;
  font-size: 16px;
  padding: 8px 16px;
  text-transform: uppercase;
  width: 48%;
}

.account-card-buttons button:hover {
  background-color: #fab5a09d;
}

/* Wallet */

.wallet {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.wallet-card {
  background-color: #f8f8f8;
  border: 1px solid #e3e3e3;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width: 300px;
  padding: 20px;
}

.wallet-card h1 {
  font-size: 32px;
  margin: 0 0 20px;
}

.wallet-card h2{
  color: rgba(0, 0, 0, 0.966);
  margin-bottom: 20px;
}


/* sharon css*/
.dashboard-card {
  text-align: left;
}

.dashboard-card-text {
  color: red;
  font-size: larger;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
}

.resend-btn {
  background-color: red;
  color: white;
  margin-top: 50px;
}

.card-icon {
  font-size: 45px;
  margin-right: 15px;
  color: #ee3b33;
}

.promotions-card-body {
  display: flex;
  align-items: center;
}

.promotions-card-title {
  text-align: left;
}

.card-title {
  font-family: 'Montserrat', sans-serif;
}
