.toast {
  width: 68rem;
  /* height: 39rem; */
  background-color: black;
  padding: 1rem;
}

.product_container {
  display: flex;
  justify-content: space-between;
}

.slider {
  width: 100%;
  margin: 0 auto;
}

.slider img {
  width: 95%;
}

.Product-title {
  /* margin-top: 1.5rem; */
  padding: 1rem;
  float: left;
  width: 60%;
}

.Product-title h1 {
  color: #ee3b33;
  font-weight: 700;
  font-family: 'Work Sans', sans-serif;
  text-align: inherit;
}

.product_price {
  color: white;
  font-family: 'Work Sans', sans-serif;
  font-size: 1.4rem;
  font-weight: 900;
}

.Product-title p {
  color: white;
  font-family: 'Work Sans', sans-serif;
  font-size: 1rem;
  margin-left: 5px;
  margin-top: 5px;
}

.product_description {
  color: white;
  font-family: 'Work Sans', sans-serif;
  font-size: 1rem;
  text-align: justify;
}

.right-card-div {
  float: right;
  width: 40%;
}

.product-card-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5rem;
}

.productcard {
  background-color: white;
  height: 8rem;
  width: '6.5rem';
}

.product-cardbody {
  display: flex;
  flex-direction: column;
}

.right-card-div h5 {
  font-size: 0.85rem;
  font-family: 'Work Sans', sans-serif;
  color: #3c4e91;
  font-weight: 800;
  margin-top: 50px;
}

.right-card-div span {
  font-size: 0.6rem;
  margin-top: 10px;
  font-weight: 500;
}
